*{
padding: 0;
margin: 0;
vertical-align: none;
list-style: none;
border: 0;
color:rgb(23, 23, 22);
text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main {
font-size: 3vh;
text-align: left;
font-family: 'Montserrat', sans-serif;
position: relative;
width: 800px;
margin: 0 auto;
height: 500px;
}

.honda1alinhamento{
display: inline;
float: right;
width: 230px;
height:175px;
right: 40px;
border-top: 5px solid;
border-bottom: 5px solid;
margin-bottom: 10px;
border-color: #f733b9;

}

.honda2alinhamento{
position: relative;
top: 50px;
display: inline;
float: right;
width: 200px;
height:158;
right: 10px;
border-top: 5px solid;
border-bottom: 5px solid;
margin-bottom: 10px;
border-color: #f733b9;


}

.hondagifalinhamento{
    
display: inline;
float: left;
top: 10px;
margin: auto;
width: 250px ;
height: 110px;
border-top: 5px solid;
border-bottom: 5px solid;
margin-bottom: 10px;
border-color: #f733b9;



}

p {
text-indent: 10px;
position: relative;
top: 80px;
margin-top: 10px;

}

