*{
padding: 0;
margin: 0;
vertical-align: none;
list-style: none;
border: 0;
color:rgb(23, 23, 22);
text-decoration: none;
}
@import url();

.main {
font-size: 3vh;
}

.honda1alinhamento{
display: inline;
float: right;
width: 285px;
height:175px;
right: 40px;

}

.honda2alinhamento{
position: relative;
top: 50px;
display: inline;
float: right;
width: 200px;
height:158;
right: 40px;

}

.hondagifalinhamento{
position: relative;
top: 120px;
margin: auto;
width: 280px ;
height: 110px;

}



    
